/* Reset de estilos */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Estilos para el encabezado */
header {
	background-color: #5f9ea0;
	color: #fff;
	padding: 20px;
}

header h1 {
	font-size: 36px;
	text-align: center;
	margin-bottom: 10px;
}

header nav {
	text-align: center;
}

header nav ul {
	list-style: none;
}

header nav li {
	display: inline-block;
	margin-right: 20px;
}

header nav li a {
	color: #fff;
	font-size: 20px;
	text-decoration: none;
}

header nav li a:hover {
	text-decoration: underline;
}

/* Estilos para las secciones */
section {
	margin: 30px auto;
	max-width: 800px;
	padding: 20px;
	background-color: #fff;
	box-shadow: 0 0 5px rgba(0,0,0,.3);
}

section h2 {
	font-size: 30px;
	margin-bottom: 10px;
    text-align: center;
}

section h3 {
	font-size: 19px;
	line-height: 1.6;
	margin-bottom: 20px;
}

#mensaje-cumpleanos {
    background-image: url('img26.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

#sobre-santiago {
    background-image: url('img31.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

#mensaje-mama {
    background-image: url('img9.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    
}
#video-section {
	display: flex;
	justify-content: center;
  }

/* Estilos para la galería de fotos */

#gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 20px;
  }
  
  #gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  

/* Estilos para el formulario de mensajes */
form {
	display: flex;
	flex-direction: column;
	max-width: 600px;
	margin: 0 auto;
}

form label {
	font-size: 18px;
	margin-bottom: 10px;
}

form input,
form textarea {
	font-size: 16px;
	padding: 10px;
	margin-bottom: 20px;
	border-radius: 5px;
	border: none;
	box-shadow: 0 0 5px rgba(0,0,0,.3);
}

form input[type="submit"] {
	background-color: #5f9ea0;
	color: #fff;
	font-size: 20px;
	padding: 10px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

form input[type="submit"]:hover {
	background-color: #467b7d;
}

#messages {
    background-color: #f0f0f0;
    font-family: 'Roboto', sans-serif;
}
  
/* Estilos para el pie de página */
footer {
	background-color: #5f9ea0;
	color: #fff;
	padding: 20px;
	text-align: center;
}

body {
    background-image: url("40322.jpg");
    background-size:contain;
    background-position: center;
  }
  
